/* Header Styles */
.headerLayout {
  background-color: #000;
}

.headerTopBar {
  background-color: #222;
  color: #ffc107;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.topBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  height: 35px;
  margin-right: 6px;
}

.topBarContent{
  color: #f4a900;
  font-weight: bold;
}

.headerContainer {
  background-color: #f4a900;
  /* padding: 10px 20px; */
  display: flex;
  justify-content: space-between;
  height: 90px;
  flex-direction: column;
  font-size: 30px;
}

.logo img {
  height: 80px;
}

.headerMenu {
  background: none;
  border-bottom: none;
  font-weight: bold;

}

.headerMenu .ant-menu-item {
  color: #000;
  font-size: 18px !important;
}

.headerMenu .ant-menu-item:hover {
  color: #fff;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  color: #000;
}

.drawerMenu {
  background-color: #f4a900;
  padding: 10px;
}

.drawerMenu .ant-menu-item {
  font-size: 18px;
  font-weight: bold;
}

.menuContainer{
  margin-left: 20px
}

.contactName{
  margin-left: 10px
}

.whatsappIcon{
  margin-right: 6px;
}
