/* Header Layout */
.headerLayout {
  background: transparent;
  position: relative;
  width: 100%;
  top: 65px;
  z-index: 10001;
}

/* Header Container */
.headerContainer {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 20%; */
  padding: 16px;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  /* color: white; */
}

/* Menu Styling */
.headerMenu {
  background: transparent;
  flex: 1;
  border: none;
  font-size: 18px;
  font-weight: bold;
  flex: 'none';
  /* color: white; */
}

.headerLeft {
  display: flex;
  flex-direction: row;
  /* align-content: flex-start; */
  align-items: center;
  /* justify-content: flex-start; */
  /* flex-wrap: nowrap; */
  gap: 10px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .headerMenu {
    display: none;
  }
  .menuButton {
    display: block;
  }
}
